 div .part {
  transition: all 0.5s ease;
  -webkit-filter: grayscale(100%);
}

div .part:hover {
  border-radius: 50%;
  -webkit-filter: grayscale(0%);
}

.chart {
  margin-top: 60px;
}

.center {
  text-align: center;
}