.region-bubbles {
  transition: all 0.5s ease;
  box-shadow: 0px 0px 3px 0.5px grey;
  -webkit-filter: grayscale(100%);
}

.region-bubbles:hover {
  border-radius: 50%;
  transform: rotate(360deg);
  -webkit-filter: grayscale(0%);

}

div .home {
  margin-top: 59px;
  display: flex;
}

.male-body {
  height: 380px;
  margin: 5px 0px;
}

/*.line {
  border-bottom: solid black 2px;
  width: 100px;
  flex-wrap: nowrap;
  flex-grow:2;
}*/
