div .home {
  margin-top: 59px;
  width: 100%;
  display: flex;
}

.male-body {
  height: 380px;
  margin: 5px 0px;
}

/*.line {
  border-bottom: solid black 2px;
  width: 100px;
  flex-wrap: nowrap;
  flex-grow:2;
}*/

.row .col.m5 {
  align-items: center;
  margin-left: 10px
}
