.navbar {
  height: 60px;
  width: 100%;
  background: #b2dfdb;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 15px;
  position: fixed;
  z-index: 1;
}

.navbar.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
}

.navbar > .logo-container {
  display: flex;
  align-items: center;
  flex: 0 0 100px;
}

.navbar > .logo-container > .bandaid {

  padding-right: 15px;
}

.navbar > .logo-container > h5 {
  color: #546e7a ;
}

.navbar > .nav-list-wrapper {
  flex: 1 1 auto;
  align-self: stretch;
}

.navbar > .nav-list-wrapper > ul.nav-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  margin: 0;
  height: 100%;
  list-style: none;
}

.navbar > .nav-list-wrapper > ul.nav-list > li {
  display: flex;
  align-items: center;
  padding: 0 15px;
  transition: all 300ms ease-in-out;
}

.navbar > .nav-list-wrapper > ul.nav-list > li:hover {
  background: rgba(200, 200, 200, 0.5);
}

.navbar > .nav-list-wrapper > ul.nav-list a {
  color: #546e7a  ;
  align-items: center;
}

.navbar > .nav-list-wrapper > ul.nav-list > li > img {
  width: 40px;
  height: 40px;
  padding-right: 15px;
}

/*.show-menu {
  color: white;
  background: red;
  text-align: center;
  padding: 10px;
  display: none;
  flex-direction: row-reverse;
  margin: 10px;
}*/

/*input[type=checkbox]{
  display: none;
}

input[type=checkbox]:checked ~ .nav-list{
    display: block;
}*/

@media only screen and (min-width: 320px) and (max-width: 426px) {

.nav-list-wrapper {
  display: none;
}

.mobile-menu > li {
  display: block;
	min-width: 100px;
	height: 40px;
	line-height: 40px;
  border: red solid 1px;
  text-decoration: none;
  color: white;
  background: #b2dfdb; 
  text-align: center;
  padding: 10px;
  flex-direction: row-reverse;
  margin: 10px;

}

.mobile-menu li:hover {
  background: rgba(200, 200, 200, 0.5);
}*/

/*@media only screen and (min-width: 768px) and (max-width: 768px) {
  .mobile-menu {
    display: none;
  }
}